
<!DOCTYPE html>

<html lang="zh-Hans" >
<head>
<title>邮箱自动确认-新增</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


{#<script type="text/javascript" src="/admin/jsi18n/"></script>#}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-automail model-emailaddr change-form"
  data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/">邮箱自动确认</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                <!-- 欢迎，
                <strong>yahoo</strong>.
            
            
                
                    <a href="/">查看站点</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">修改密码</a> /
                
                <a href="/admin/logout/">注销</a> -->
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/?q=">首页</a>
&rsaquo; <a href="/add">新增</a>
<!-- &rsaquo; <a href="/admin/automail/emailaddr/">Email addrs</a>
&rsaquo; 增加 email addr -->
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>新增邮箱</h1>
        <div id="content-main">



{#<form enctype="multipart/form-data" action="?_changelist_filters=q%3D" method="post" id="emailaddr_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='xHIog3Qaw1FE9503JAbUwB7dTbM5ZeVBD7LVDgWMguzAHEfJQt6WngDT3cjVwuWi' />#}
<form enctype="multipart/form-data" action="add/commit" method="post" id="emailaddr_form" novalidate>
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-emailaddr">
            
            
                <div>
                    
                    
                        <label class="required" for="id_emailaddr">邮箱:</label>
                        
                            <input type="text" name="emailaddr" class="vTextField" maxlength="100" required id="id_emailaddr" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-emailpsd">
            
            
                <div>
                    
                    
                        <label class="required" for="id_emailpsd">密码:</label>
                        
                            <input type="text" name="emailpsd" class="vTextField" maxlength="100" required id="id_emailpsd" />
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">
<input type="submit" value="保存" class="default" name="_save" />

<!-- <input type="file" name="file_upload"  />
<input type="submit" name="submit" value="上传" /> -->
<!-- <input type="submit" value="保存并增加另一个" name="_addanother" />
<input type="submit" value="保存并继续编辑" name="_continue" /> -->


    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="emailaddr"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>  


 
        <!-- <br class="clear" /> -->
    </div>
    <!-- END Content -->



    <!-- <div id="footer"></div> -->
</div>
<!-- END Container -->

    <div id="content" class="colM">
        <form enctype="multipart/form-data" action="add/excel_commit" method="post" id="emailaddr_form" novalidate>

            <tr><h1>上传excel批量新增</h1></tr>
            <tr><input type="file" name="file_upload"  /></tr>
            <tr><div class="submit-row">
                    <input type="submit" name="submit" value="上传" />

                </div>
            </tr>
        </form>
    </div>


</body>
</html>
